body{
    font-family: 'Poppins', sans-serif;
    color: greenyellow;
    margin: 0%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.name-highlight{
    color: orange;
}
.ordhek{
    width: 40%;;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.ordhek img{
    width: 60%;
    float: right;
    margin-top: 10%;
}
.top{
    background-image: url("blackbg.jpg");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 100px;
}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(45deg, black, orange);
    padding: 10px 20px;
    border-radius: 5px;

}
.ordhek img{
    float:left;
    width: 60%;
}
#jhamela{
    background-image: url("blackbg.jpg");
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom:0;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 80%;
    background-color: white;
}
.things-area{
    text-align: center;
    background-image: url("blackbg.jpg");
    background-repeat: no-repeat;
    padding-top:50px;
}
.things{
    color: orange;
}
.things-area img{
    height: 30%;
    width: 30%;
    text-align:justify;
    display: block;
    background-color: transparent;
  border: 1px solid transparent;
  margin-bottom: 10px;
}
#why{
    background-color: white;
    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;
}
#what{
    background-color: white;
    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;
}
#how{
    background-color: white;
    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;
}
.gpa {
    background-color: grey;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 0;
    margin-left: 500px;
    width: 30%;
    text-align: center;
    padding-right: 100px;
}
#button{
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(45deg, black, orange);
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 5px;
    float: right;

}
#full-stack{
    border-left: 7px solid;
    border-image:linear-gradient(180deg,lightsalmon, tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice:1 ;
}
footer p{
    text-align:center;
    font-size: 12px;
}